<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Marco Zocca" /> 
        <meta name="author" content="Marco Zocca" />
        <title>Marco Zocca - $title$</title>

        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body>


        <div class="container content">

        <header class="masthead">
            <div class="row">
              <div class="col-sm-6">
                    <h2 class="masthead-title">
                      <a href="/index.html" title="Home">Marco Zocca</a>
                </h2>
              </div>
              <div class="col-sm-6">
                    <h4 class="masthead-title" style="text-align: right;">
                      <a href='/about.html' title='About'>About</a>
                  &nbsp;
                      <a class='icon-github-squared' href='/oss.html' title='Open source'>Open Source</a>
                  &nbsp;
                      <a href="/archive.html">Archive</a>
                </h4>
              </div>
            </div>
              </header>


        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
        </footer>

        </div>


    </body>
</html>
